.DS_Store
.dist/

# Xcode user data
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xccheckout
*.moved-aside

# Build products
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/

# Local secrets
Secrets.*
!Secrets.example.plist
